:root {
  --bg-color: #d3d3d3;
}

.item {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.item.collapsed {
  display: inline-block;
  border: 0;
}
.item:not(.collapsed) {
  padding-left: 50px;
}

.item > canvas {
  margin: 5px;
  background: var(--bg-color);
}
.item.collapsed > canvas {
  display: none;
}
.item.collapsed > canvas.main {
  display: unset;
}

canvas:not(.loaded) {
  background: grey;
}
.bb canvas:not(.loaded) {
  width: 78px;
  height: 78px;
}
.cas canvas:not(.loaded) {
  width: 104px;
  height: 148px;
}
